<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">
	<listeners>
		<listener class-name="com.flamingo.listner.ListenerClass"></listener>
		<listener class-name="com.flamingo.listner.MethodInterceptor"></listener>
	</listeners>
	<test name="valid login credential">
		<classes>
			<class name="com.flamingo.OrangeHRM.LoginPageTest" />
			<class name="com.flamingo.OrangeHRM.HomePageTest" />
		</classes>
	</test>
	<!--Test -->
</suite> <!--Suite -->
